.main {
  margin: 10px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.support-text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 1rem;
}
.preview {
  margin-top: 20px;
}
.images {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.downloads{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img-preview {
  padding: 20px;
}

.upload {
  margin-top: 20px;
  text-align: center;
}

.upload-btn {
  background-color: #309e99;
  padding: 10px;
  margin: 10px;
  letter-spacing: 2px;
  border-radius: 0.25rem;
  cursor: pointer !important;
  color: #ffffff;
}

.download-btn {
  background-color: #309e99;
  padding: 10px;
  margin: 10px;
  letter-spacing: 2px;
  border-radius: 0.25rem;
  cursor: pointer !important;
  color: #ffffff;
  box-shadow: 2.5px 5px 9px #888888;
}
.download-btn:hover {
  background-color: #1b5e5ade;
  font-weight: 600 !important;
}
a {
  text-decoration: none !important;
}
