<app-header></app-header>
<div class="main">
  <div class="upload">
    <input (change)="resizeImage($event)" type="file" name="pic" accept="image/*">
    <div class="preview">
      <div *ngIf="imagePreview28x28 != null || imagePreview56x56 != null || imagePreview112x112 != null">
        <img class="img-preview" [src]="sanitizer.bypassSecurityTrustUrl(imagePreview28x28)">
        <img class="img-preview" [src]="sanitizer.bypassSecurityTrustUrl(imagePreview56x56)">
        <img class="img-preview" [src]="sanitizer.bypassSecurityTrustUrl(imagePreview112x112)">
      </div>
      <a class="download-btn" *ngIf="imagePreview28x28 != null || imagePreview56x56 != null || imagePreview112x112 != null" [href]="fileUrl28" download="28x28.png">Download 28x28</a>
      <a class="download-btn" *ngIf="imagePreview28x28 != null || imagePreview56x56 != null || imagePreview112x112 != null" [href]="fileUrl56" download="56x56.png">Download 56x56</a>
      <a class="download-btn" *ngIf="imagePreview28x28 != null || imagePreview56x56 != null || imagePreview112x112 != null" [href]="fileUrl112" download="112x112.png">Download 112x112</a>
    </div>
  </div>
</div>
